		<footer class="blue lighten-1 fixed-bar" id="footer">
			<div class="row center">
				<div class="col s3">
					<a style="padding-top: 10px;" href="#!" class="white-text"><i class="fa fa-search"></i></a>
				</div>
				<div class="col s3">
					<a style="padding-top: 10px;" data-href="#modalinfo" data-link="/categorias/postagens/criar" class="white-text modal-mount"><i class="fa fa-plus"></i></a>
				</div>
				<div class="col s3">
					<a style="padding-top: 10px;" href="/sistema/chats" class="white-text"><i class="fa fa-comment"></i></a>
				</div>
				<div class="col s3">
					<a style="padding-top: 10px;" href="/sistema/usuarios/ver/1" class="white-text"><i class="fa fa-user"></i></a>
				</div>
			</div>
    </footer>
  </body>
</html>