<section class="types">
<div class="row">
<%
if (typeof data.categorias != 'undefined' && data.categorias.length > 0) {

for (var i = data.categorias.length - 1; i >= 0; i--) {
%>

<div class="col s3">
<a href="/sistema/postagens/ver/<%= data.categorias[i].id %>" class="ajax-load">
<img class="circle" style="max-width: 100%;" src="/assets/imgs/banner-1.jpeg">
<p class="center-align black-text">	
<%= data.categorias[i].nome %>
</p>
</a>
<%
if (data.categorias[i].atualizacoes > 0) {
%>
<div class="atualizacoes">
<%= data.categorias[i].atualizacoes %><i class="fa fa-plus" aria-hidden="true"></i>
</div>
<%
}
%>
</div>
<%
}
}

%>
<div class="col s3">
<a href="/sistema/faculdades/ver" class="ajax-load">
<img class="circle" style="max-width: 100%;" src="/assets/imgs/banner-1.jpeg">
<p class="center-align black-text">
Faculdade
</p>
</a>
</div>
</div>
</section>
<section class="main-margin">

<%- include('../postagens/postagens'); %>

</section>


<!-- <script type="text/javascript">
changeHeader('par1');
</script> -->

<style type="text/css">
</style>

<script type="text/javascript">
$('#footer').fadeIn('slow');
$('#sair').fadeOut('slow');
</script>