    <div class="loader none">
      <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
    </div>
    <!-- Esqueceu Senha -->
    <div id="modalforgot2" class="modal">
      <div class="modal-content">
        <form method="POST">
          <p><b>Recuperação de Senha</b></p>
          <div class="input-field">
            <label>Digite seu email</label>
            <input type="email" name="email">
          </div>
          <button class="btn blue white-text resend-pass">
            Confirmar
          </button>
        </form>
      </div>
    </div>
    <!-- Cadastre-se -->
    <div id="modalnew2" class="modal">
      <div class="modal-content">
        <p><b>Cadastro de Usuário/ MurEr</b></p>
        <form id="cadastra-usuario-again" method="POST" action="" onsubmit="">
          <div class="row">
            <div class="col s12 input-field">
              <label>Nome</label>
              <input required="true" type="text" name="nome">
            </div>
            <div class="col s12 input-field">
              <label>E-mail</label>
              <input required="true" type="email" name="email">
            </div>
            <div class="col s12">
              <label>Faculdade</label>
              <input class="faculdade_filtro_again" required="true" type="text" placeholder="Nome da Faculdade" name="nome_faculdade" >           
              <input type="hidden" name="id_faculdade">
            </div>
            <div class="col s12 input-field">
              <label>Curso</label>
              <input class="curso_filtro_again" type="text" name="nome_curso" placeholder="Nome do Curso">
              <input type="hidden" name="id_curso">
            </div>
            <div class="col s12">
              <label>Situação</label>
              <select class="browser-default" name="status">
                <option value="" disabled selected>Selecione</option>
                <option value="1">Aluno</option>
                <option value="2">Ex-Aluno</option>
                <option value="3">Professor</option>
                <option value="4">Colaborador</option>
              </select>
            </div>
            <div class="col s12 input-field">
              <label>Login (Nome MurEr)</label>
              <input required="true" type="text" name="nome_murer">
            </div>
            <div class="col s12 input-field">
              <label>Senha</label>
              <input required="true" type="password" name="senha">
            </div>
            <div class="col s12 input-field">
              <label>Senha Confirmar</label>
              <input required="true" type="password" name="senha_confirmar">
            </div>
            <div class="col s12">
              <button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
            </div>
            <div class="col s12 error_container_muron_again hide">
              <div class="error_muron_mensagem_again red white-text" style="margin-top: 10px;padding: 5px;text-align: center;"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Cadastre-se Parceiro -->
    <div id="modalparceiro2" class="modal">
      <div class="modal-content">
        <p><b>Cadastro de Parceiro</b></p>
        <form id="cadastra-parceiro" method="POST" action="" onsubmit="">
          <div class="row">
            <div class="col s12">
              <label>Tipo de Parceiro</label>
              <select id="tipo_parceiro_sel" required="true" class="browser-default" name="tipo">
                <option value="" disabled selected>Selecione</option>
                <option value="2">Faculdade</option>
                <option value="3">Divulgador</option>
              </select>
            </div>

            <div class="col s12 hide faculdade_parceiro_container">
              <label>Faculdade</label>
              <input class="faculdade_filtro_again" required="true" type="text" placeholder="Nome da Faculdade" name="nome_faculdade">
              <input type="hidden" name="id_faculdade">
            </div>

            <div class="col s12 input-field nome_divulgador_container hide">
              <label>Nome</label>
              <input required="true" type="text" name="nome">
            </div>
            <div class="col s12 input-field">
              <label>Login (Nome MurEr)</label>
              <input required="true" type="text" name="nome_murer">
            </div>
            <div class="col s12 input-field">
              <label>E-mail</label>
              <input required="true" type="email" name="email">
            </div>
            <div class="col s12 input-field">
              <label>Telefone</label>
              <input type="tel" name="celular" class="telefone" required="true">
            </div>
            <div class="col s12 input-field">
              <label>Nome do Responsável</label>
              <input required="true" type="text" name="nome_contato">
            </div>
            <div class="col s12 input-field">
              <label>Site</label>
              <input type="text" name="site">
            </div>
            <div class="col s12 input-field">
              <label>Descrição</label>
              <textarea name="descricao" class="materialize-textarea" placeholder="Detalhes da sua atividade..."></textarea>
            </div>
            <div class="col s12 input-field">
              <label>Senha</label>
              <input required="true" type="password" name="senha">
            </div>
            <div class="col s12 input-field">
              <label>Confirmar Senha</label>
              <input required="true" type="password" name="senha_confirmar">
            </div>
            <div class="col s12">
              <button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
            </div>
            <div class="col s12 error_container_parceiro hide">
              <div class="error_parceiro_mensagem red white-text" style="margin-top: 10px;padding: 5px;text-align: center;"></div>
            </div>

          </div>
        </form>
      </div>
    </div>
    <main>
      <section>
        <div>
          <form id="entra-sistema-again" method="POST" action="" >
            <div class="icon center-align">
              <img style="max-height: 320px;" src="/assets/imgs/logo.png">
            </div>
            <div class="box arrow_box">

              <div class="error_box_again hide center-align">
                <div class="card-panel">
                  <span class="white-text"></span>
                </div>

              </div>

              <div class="container-small">
                <div class="inputs">
                  <div class="input-field valign-wrapper">
                    <i class="fa fa-user-o prefix grey-text center-align" aria-hidden="true"></i>
                    <input type="text" name="nome_murer" id="nome_murer" class="validate" placeholder="Login (Nome MurEr)">
                  </div>
                  <div class="input-field">
                    <i class="fa fa-key prefix grey-text center-align" aria-hidden="true"></i>
                    <input type="password" name="senha" id="senha" class="validate" placeholder="Senha">
                  </div>
                </div>
                <div class="center-align">
                  <button class="btn-large waves-effect waves-teal waves-light entrar_button">
                    Entrar
                  </button>
                </div>
                <p class="acc">
                  <a class="white-text modal-trigger" href="#modalforgot2">Esqueceu sua senha? <span class="blue-text text-darken-2">Clique aqui</span></a><br>
                  <a class="white-text modal-trigger" href="#modalnew2">Ainda não tem conta? <span class="blue-text text-darken-2">Cadastre-se</span></a>
                </p>
                <div class="or"><span>OU LOGOUTTTTTTTTTTTTTTTT</span></div>
                <div class="row">
                  <br>
                  <a class="white-text modal-trigger" href="#modalparceiro2">Quer ser um parceiro? <span class="blue-text text-darken-2">Cadastre-se</span></a><br>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>

      <div class="container-small">
        <div class="footer white-text">
          Está com problemas para fazer login? Contate <a class="blue-text text-darken-2" href="mailto:suporte@muron.com.br">suporte@muron.com.br</a>
        </div>
      </div>





<script type="text/javascript">
  $(document).on('ready', function () {

    $('.telefone').mask('(00) Z0000-0000', {
      translation: {
        'Z': {
          pattern: /[0-9]/, optional: true
        }
      }
    });

    
    $('#entra-sistema-again').on('submit', function(e) {
      e.preventDefault();
      var form = $(this);
      var post = form.serializeArray();
      var naoremoveloaderagain = 0;

      console.log('teste do entra-sistema-again');

      $.ajax({
        method: 'POST',
        async: true,
        data: post,
        url: $('body').data('site') + '/sistema/api/entrar_sistema/',
        beforeSend: function(request) {
          request.setRequestHeader("Authority-Optima-hash", $('input[name="hash_usuario_sessao"]').val());
          request.setRequestHeader("Authority-Optima-nivel", $('input[name="nivel_usuario_sessao"]').val());
          request.setRequestHeader("Authority-Optima-id", $('input[name="id_usuario_sessao"]').val());
          adicionarLoader();
          console.log('url');
          console.log($('body').data('site') + '/sistema/api/entrar_sistema/');
        },
        success: function(data) {
          console.log('--------- data ----------');
          console.log(data);
          console.log('-------------------------');

          if(data.result == 'redirect'){
            GoToAgain($('body').data('site') + '/sistema', true);
            naoremoveloaderagain = 1;
          }else{
            $('.error_box_again').removeClass('hide');
            $('.error_box_again').find('span').text(data.mensagem);

            var cardpanel = $('.error_box_again').find('.card-panel');

            if(data.erro == 'warn'){
              /* Limpar o alert caso ele já está ativo*/
              $('.error_box_again').find('span').find('.fa').remove();
              cardpanel.removeClass('yellow darken-2');              
              cardpanel.addClass('red darken-1');

            }else if(data.erro == 'alert'){
              /*Limpar o warn caso ele já está ativo*/
              cardpanel.removeClass('red darken-1');
              cardpanel.addClass('yellow darken-2');
              $('.error_box_again').find('span').append('<i class="fa fa-handshake"></i>')
            }
          }
        },
        error: function(xhr) {  // if error occured
        },
        complete: function(data) {
          if(naoremoveloader == 0){
            removerLoader();
          }
        }
      });
    });

    $('#cadastra-usuario-again').on('submit', function(e) {
      e.preventDefault();
      var form = $(this);
      var post = form.serializeArray();
      if($('.modal input[name="senha"]').val() != $('.modal input[name="senha_confirmar"]').val())
      {
        alert('Confirmação de Senha incorreta')
      }else{
        $.ajax({
          method: 'POST',
          async: true,
          data: post,
          url: $('body').data('site') + '/sistema/api/cadastrar/usuario',
          beforeSend: function(request) {
          },
          success: function(data) {

            if(data == "muron_existente"){
              $('.error_container_muron_again').removeClass('hide');
              $('.error_container_muron_again').find('.error_muron_mensagem_again').html('Já existe alguém com este nome de Murer!');
            }else if(data == "possui_muron"){
              $('.error_container_muron_again').removeClass('hide');
              $('.error_container_muron_again').find('.error_muron_mensagem_again').html('Não é possível cadastrar este usuário!');
            }else if(data == 'dado_invalido'){
              $('.error_container_muron_again').removeClass('hide');
              $('.error_container_muron_again').find('.error_muron_mensagem_again').html('Por-favor Validar se Todos os Dados estão corretos.');
            }else{
              if(data.length == 0) {
                alert('Usuário já cadastrado, tente novamente com outro Login');
              } else {
                var nome_murer = form.find('input[name="nome_murer"]').val();
                var senha = form.find('input[name="senha"]').val();
                $('.inputs').find('input[name="nome_murer"]').val(nome_murer);
                $('.inputs').find('input[name="senha"]').val(senha);
                $('.modal').modal('close');
              }
            }
          },
          error: function(xhr) { // if error occured
            alert("Error, contate o administrador ou reinicie a pagina.");
          },
          complete: function() {
          }
        });
      };
    });

    $('#cadastra-parceiro').on('submit', function(e) {
      e.preventDefault();

      if($(this).find('select[id="tipo_parceiro_sel"]').val() == '2'){
        $(this).find('.nome_divulgador_container').find('input').val($(this).find('.faculdade_filtro_again').val());
      }

      var form = $(this);
      var post = form.serializeArray();

      if($('#cadastra-parceiro input[name="senha"]').val() != $('#cadastra-parceiro input[name="senha_confirmar"]').val()){
        alert('Confirmação de Senha incorreta');
      } else {
        $.ajax({
          method: 'POST',
          async: true,
          data: post,
          url: $('body').data('site') + '/sistema/api/cadastrar/parceiro',
          beforeSend: function(request) {
          },
          success: function(data) {
            if(data == "possui_gerente"){
              $('.error_container_parceiro').removeClass('hide');
              $('.error_container_parceiro').find('.error_parceiro_mensagem').html('Já existe um Gerente para esta Faculdade!');

            }else if(data == "possui_muron"){

              $('.error_container_parceiro').removeClass('hide');
              $('.error_container_parceiro').find('.error_parceiro_mensagem').html('Não é possível cadastrar este usuário!');

            }else if(data == 'dado_invalido'){
              $('.error_container_parceiro').removeClass('hide');
              $('.error_container_parceiro').find('.error_parceiro_mensagem').html('Por-favor Validar se Todos os Dados estão corretos.');
            }else{
              if(data.length == 0) {
                alert('Usuário já cadastrado, tente novamente com outro Login');
              }else {
                var nome_murer = form.find('input[name="nome_murer"]').val();
                var senha = form.find('input[name="senha"]').val();
                $('.inputs').find('input[name="nome_murer"]').val(nome_murer);
                $('.inputs').find('input[name="senha"]').val(senha);
                $('.modal').modal('close');
              }

            }


          },
            error: function(xhr) { // if error occured
              alert("Error, contate o administrador ou reinicie a pagina.");
            },
            complete: function() {
            }
          });
      }
    });

    $(document).on('click', '.resend-pass', function(e) {
      e.preventDefault();
      var form = $(this).closest('form');
      var post = form.serializeArray();
      $.ajax({
        method: 'POST',
        async: true,
        data: post,
        url: $('body').data('site') + '/sistema/api/recuperar/senha',
        success: function(data) {
          Materialize.toast('<div class="center-align" style="width:100%;">Mensagem enviada com sucesso.</div>', 5000, 'rounded');
        },
          error: function(xhr) { // if error occured
            alert("Error, contate o administrador ou reinicie a pagina.");
          }
        });
    });

    $(document).on('change', 'select[id="tipo_parceiro_sel"]', function () {
      if($(this).val() == '2'){
        $('.nome_divulgador_container').addClass('hide');
        $('.nome_divulgador_container').find('input').val(0);
        $('.faculdade_parceiro_container').removeClass('hide');
        $('.faculdade_parceiro_container').find('input').val('');

      }else if($(this).val() == '3'){
        $('.nome_divulgador_container').removeClass('hide');
        $('.nome_divulgador_container').find('input').val('');
        $('.faculdade_parceiro_container').addClass('hide');
        $('.faculdade_parceiro_container').find('input').val(0);
      }

    });


    function GoToAgain(link, state) {
      $.ajax({
        method: "GET",
        async: true,
        url: link,
        beforeSend: function() {
        },
        success: function(data) {
          $('body').html(data);
          $('body').removeClass('login');
          $('body').addClass('g-white');
        },
        error: function(xhr) { // if error occured
          // removerLoader();
          alert("Error, contate o administrador ou reinicie a pagina.");
        },
        complete: function() {
          removerLoader();
          $('.material-tooltip').remove();
          $('.tooltipped').tooltip({delay: 50});
        }
      });
      if (state == true) {
        window.history.pushState('Sistema Quorp', 'Sistema Quorp', link);
      }
    }
  });

function autoComplete(element,url,select_el){
  $(element).autocomplete({
    source: function( request, response ){
      $.ajax({
        method:'GET',
        async:true,
        dataType:'json',
        url:$('body').data('site') +url+request.term,
        beforeSend: function() {
 
        },
        success: function(data) {
          response(data);
          response($.map(data, function (item) {
            return {
              label: item.name,
              value: item.name,
              id: item.id
            };
          }));
        },
        error: function(xhr) {

        },
        complete: function() {
        }
      });
    },
    select:function(event,ui){
      $(this).parent().find(select_el).val(ui.item.id);
    }

  });
}

autoComplete('.faculdade_filtro_again','/sistema/api/pesquisar/faculdade/','input[name="id_faculdade"]');
autoComplete('.curso_filtro_again','/sistema/api/pesquisar/curso/','input[name="id_curso"]');

</script>