    <div class="loader none">
      <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
    </div>
    <!-- Esqueceu Senha -->
    <div id="modalforgotagain" class="modal">
      <div class="modal-content">
        <p><b>Recuperação de Senha</b></p>
        <form method="POST">
          <div class="row">
            <div class="col s12 input-field">
              <label>Digite seu email</label>
              <input type="email" name="email">
            </div>

            <div class="col s12 error_container_resend hide">
              <div class="error_resend_mensagem red white-text" style="margin-bottom: 10px;padding: 5px;text-align: center;"></div>
            </div>
            <div class="col s12">
              <button class="btn blue white-text resend-pass" style="width: 100%;">
                Confirmar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="modalaboutagain" class="modal">
      <div class="modal-content">
        <h5 style="text-align: center">Sobre o <b>MurOn</b></h5>
        <p style="text-align: justify;">
          O <b>MurOn</b> é a rede social pensada para compartilhar os momentos relacionados a sua vida universitária e também conectar pessoas com projetos semelhantes.
        </p>

        <p style="text-align: justify;">

          Com o <b>MurOn</b>, você poderá construir seu portifólio acadêmico, compartilhar eventos, pesquisar estágios, além de encontrar pessoas dispostas a prestar serviços relevantes para nossa comunidade.
          Junte-se a nós e divirta-se!
        </p>

        <p style="text-align: justify;">
          Se não tiver conta no <b>MurOn</b>, cadastre-se como Usuário/MurEr. Você também pode ser nosso Parceiro. Se for representante de uma faculdade, escolha a opção: Faculdade. Agora, se você quiser apenas divulgar algo interessante para o mundo universitário, marque a opção: Divulgador.
          Na tela principal, encontramos 4 opções: Divulgação, Estágios, Projetos e Faculdade. Em cada uma delas, há uma forma divertida de interagir com as pessoas.
        </p>
        <p style="text-align: justify;">
          Se quiser registrar aquele momento especial, escolha a opção DIVULGAÇÃO. Lá, você também pode compartilhar eventos importantes (acadêmicos ou não) ou mesmo oferecer  serviços relevantes para nossa comunidade. O <b>MurOn</b> te ajudará com esse objetivo. Navegue, chame seus amigos e divulgue os eventos ou serviços!
        </p>
        <p style="text-align: justify;">
          Além disso, o <b>MurOn</b> é o ambiente adequado para conectar estagiários e empregadores. Nossa plataforma oferece uma maneira de encontrar o estágio relevante para você. A função ESTÁGIOS permite ver as vagas e benefícios ofertados, pesquisar pelo empregador ou a área de seu interesse. Tudo de forma intuitiva e de fácil navegação.
        </p>
        <p style="text-align: justify;">
          A função PROJETOS é onde você compartilha suas ideias. O ambiente colaborativo do <b>MurOn</b> favorece o encontro de pessoas com os mesmos objetivos. É possível também pesquisar detalhes de cada projeto. Compartilhe conosco e acrescente algo relevante à nossa comunidade.
        </p>
        <p style="text-align: justify;">
          Você também pode selecionar a função FACULDADE para acessar as notícias e publicações especiais da sua faculdade. Queremos ser o mural digital da sua faculade, de uma maneira inteligente e criativa.
        </p>
        <p style="text-align: justify;">
          É isso. Nossa missão é conectar pessoas, registrar momentos, compartilhar projetos e serviços, e tornar nossa comunicação mais divertida e eficiente!
        </p>
      </div>
    </div>
    <!-- Cadastre-se -->
    <div id="modalnewagain" class="modal">
      <div class="modal-content">
        <p><b>Cadastro de Usuário/ MurEr</b></p>
        <form id="cadastra-usuario-again" method="POST" action="" onsubmit="">
          <div class="row">
            <div class="col s12 input-field">
              <label>Nome</label>
              <input required="true" type="text" name="nome">
            </div>
            <div class="col s12 input-field">
              <label>E-mail</label>
              <input required="true" type="email" name="email">
            </div>
            <div class="col s12">
              <label>Faculdade</label>
              <input class="faculdade_filtro_again" required="true" type="text" placeholder="Nome da Faculdade" name="nome_faculdade" >           
              <input type="hidden" name="id_faculdade_again">
            </div>
            <div class="col s12 input-field">
              <label>Curso</label>
              <input class="curso_filtro_again" type="text" name="nome_curso" placeholder="Nome do Curso">
              <input type="hidden" name="id_curso_again">
            </div>
            <div class="col s12">
              <label>Situação</label>
              <select class="browser-default" name="status">
                <option value="" disabled selected>Selecione</option>
                <option value="1">Aluno</option>
                <option value="2">Ex-Aluno</option>
                <option value="3">Professor</option>
                <option value="4">Colaborador</option>
              </select>
            </div>
            <div class="col s12 input-field">
              <label>Login (Nome MurEr)</label>
              <input required="true" type="text" name="nome_murer">
            </div>
            <div class="col s12 input-field">
              <label>Senha</label>
              <input required="true" type="password" name="senha">
            </div>
            <div class="col s12 input-field">
              <label>Senha Confirmar</label>
              <input required="true" type="password" name="senha_confirmar">
            </div>
            <div class="col s12">
              <button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
            </div>
            <div class="col s12 error_container_muron_again hide">
              <div class="error_muron_mensagem_again red white-text" style="margin-top: 10px;padding: 5px;text-align: center;"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Cadastre-se Parceiro -->
    <div id="modalparceiroagain" class="modal">
      <div class="modal-content">
        <p><b>Cadastro de Parceiro</b></p>
        <form id="cadastra-parceiro-again" method="POST" action="" onsubmit="">
          <div class="row">
            <div class="col s12">
              <label>Tipo de Parceiro</label>
              <select id="tipo_parceiro_sel_again" required="true" class="browser-default" name="tipo">
                <option value="" disabled selected>Selecione</option>
                <option value="2">Faculdade</option>
                <option value="3">Divulgador</option>
              </select>
            </div>

            <div class="col s12 hide faculdade_parceiro_container">
              <label>Faculdade</label>
              <input class="faculdade_filtro_again" required="true" type="text" placeholder="Nome da Faculdade" name="nome_faculdade">
              <input type="hidden" name="id_faculdade_again">
            </div>

            <div class="col s12 input-field nome_divulgador_container hide">
              <label>Nome</label>
              <input required="true" type="text" name="nome">
            </div>
            <div class="col s12 input-field">
              <label>Login (Nome MurEr)</label>
              <input required="true" type="text" name="nome_murer">
            </div>
            <div class="col s12 input-field">
              <label>E-mail</label>
              <input required="true" type="email" name="email">
            </div>
            <div class="col s12 input-field">
              <label>Telefone</label>
              <input type="tel" name="celular" class="tel" required="true">
            </div>
            <div class="col s12 input-field">
              <label>Nome do Responsável</label>
              <input required="true" type="text" name="nome_contato">
            </div>
            <div class="col s12 input-field">
              <label>Site</label>
              <input type="text" name="site">
            </div>
            <div class="col s12 input-field">
              <label>Descrição</label>
              <textarea name="descricao" class="materialize-textarea" placeholder="Detalhes da sua atividade..."></textarea>
            </div>
            <div class="col s12 input-field">
              <label>Senha</label>
              <input required="true" type="password" name="senha">
            </div>
            <div class="col s12 input-field">
              <label>Confirmar Senha</label>
              <input required="true" type="password" name="senha_confirmar">
            </div>
            <div class="col s12">
              <button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
            </div>
            <div class="col s12 error_container_parceiro hide">
              <div class="error_parceiro_mensagem red white-text" style="margin-top: 10px;padding: 5px;text-align: center;"></div>
            </div>

          </div>
        </form>
      </div>
    </div>
    <main>
      <section>
        <div>
          <form id="entra-sistema-again" method="POST" action="" >
            <div class="icon center-align">
              <img style="max-height: 320px;" src="/assets/imgs/logo.png">
            </div>
            <div class="box arrow_box">

              <div class="error_box_again hide center-align">
                <div class="card-panel">
                  <span class="white-text"></span>
                </div>

              </div>

              <div class="container-small">
                <div class="inputs">
                  <div class="input-field valign-wrapper">
                    <i class="fa fa-user-o prefix grey-text center-align" aria-hidden="true"></i>
                    <input type="text" name="nome_murer" id="nome_murer" class="validate" placeholder="Login (Nome MurEr)">
                  </div>
                  <div class="input-field">
                    <i class="fa fa-key prefix grey-text center-align" aria-hidden="true"></i>
                    <input type="password" name="senha" id="senha" class="validate" placeholder="Senha">
                  </div>
                </div>
                <div class="center-align">
                  <button class="btn-large waves-effect waves-teal waves-light entrar_button">
                    Entrar
                  </button>
                </div>
                <p class="acc">
                  <a class="white-text modal-trigger btn-modal-forgot-again" href="#modalforgotagain">Esqueceu sua senha? <span class="blue-text text-darken-2">Clique aqui</span></a><br>
                  <a class="white-text modal-trigger btn-modal-new-again" href="#modalnewagain">Ainda não tem conta? <span class="blue-text text-darken-2">Cadastre-se</span></a>
                </p>
                <div class="or"><span>OU</span></div>
                <div class="row">
                  <br>
                  <a class="white-text modal-trigger btn-modal-parceiro-again" href="#modalparceiroagain">Quer ser um parceiro? <span class="blue-text text-darken-2">Cadastre-se</span></a><br>
                </div>
                <div class="row">
                  <a class="white-text modal-trigger btn-modal-about-again" href="#modalaboutagain">
                    Quer saber mais sobre o Muron? <span class="blue-text text-darken-2">Clique aqui</span>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>

      <div class="container-small">
        <div class="footer white-text">
          Está com problemas para fazer login? Contate <a class="blue-text text-darken-2" href="mailto:suporte@muron.com.br">suporte@muron.com.br</a>
        </div>
      </div>