<div class="card-panel white row">
	<%- include('../postagens/postagens_criar') %>
</div>
<div class="card-panel white row">
	<b><p>Postagens feitas:</p></b>
	<%- include('../postagens/postagens') %>
</div>
<script type="text/javascript">
	$('#footer').fadeOut('slow');
	$('#sair').fadeOut('slow');
</script>