<section class="hideFooter">
  <div class="input-field col s12">
    <i class="fa fa-search prefix"></i>
    <input id="icon_prefix" type="text" class="validate">
    <label for="icon_prefix">Grupos...</label>
  </div>
  <div class="striped-list">
    <ul class="collection">
      <li class="collection-item dismissable"><div>Grupo de Estudos<a href="#!" class="secondary-content"><i class="fa fa-plus blue-text"></i></a></div></li>
      <li class="collection-item dismissable"><div>Festas<a href="#!" class="secondary-content"><i class="fa fa-times red-text"></i></a></div></li>
      <li class="collection-item dismissable"><div>Faculdade<a href="#!" class="secondary-content"><i class="fa fa-plus blue-text"></i></a></div></li>
    </ul>
  </div>
<!--   <table class="striped">
      <tbody>
      <tr>
        <td>Hidden for all Devices</td>
      </tr>
      <tr>
        <td>Hidden for Mobile Only</td>
      </tr>
      <tr>
        <td>Hidden for Tablet Only</td>
      </tr>
      <tr>
        <td>Hidden for Tablet and Below</td>
      </tr>
      <tr>
        <td>Hidden for Tablet and Above</td>
      </tr>
      <tr>
        <td>Hidden for Desktop Only</td>
      </tr>
      <tr>
        <td>Show for Mobile Only</td>
      </tr>
      <tr>
        <td>Show for Tablet Only</td>
      </tr>
      <tr>
        <td>Show for Desktop Only</td>
      </tr>
      <tr>
        <td>Show for Tablet and Above</td>
      </tr>
      <tr>
        <td>Show for Tablet and Below</td>
      </tr>
    </tbody>
  </table> -->
</section>


<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>