<section>
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <p style="text-align: justify;">O MurOn é o mural da sua faculdade. Desenvolvemos este aplicativo para conectar universitários e professores a pessoas com interesses semelhantes. Nosso objetivo é obter sinergias em um ambiente colaborativo, de uma maneira criativa e envolvente.
        </p>
        <p style="text-align: justify;">
          Aqui você poderá compartilhar os seus projetos, interagir nos eventos, desenvolver-se em estágios, além de encontrar pessoas dispostas a prestar serviços relevantes para você. Baixe o app. Venha ser um MurEr e divirta-se conosco. ;)
        </p>
        <p style="text-align: justify;">
          Você também pode ser nosso Parceiro. Se não é aluno, ex-aluno ou colaborador, mas dispõe de informação relevante para os universitários e professores, cadastre-se como parceiro e divulgue sua mensagem. É totalmente gratuito.
        </p>
        <p style="text-align: justify;">
          O MurOn é intuitivo e de fácil navegação. Na tela principal, encontramos cinco opções: eventos, estágios, projetos, tutorias (aulas) e serviços. Podemos personalizar nosso perfil, organizar nossa lista de contatos, além de criar grupos para facilitar nossa comunicação. Se quiser, ainda pode trocar mensagens com outros MurErs pela aba de notificação. É muito fácil !
        </p>
        <p style="text-align: justify;">
          Se você procura EVENTOS (acadêmicos ou não), escolha essa opção. Pode pesquisar detalhes do evento ou por alguém em especial. Além disso, o MurOn é o ambiente adequado para conectar estagiários e empregadores.
        </p>
        <p style="text-align: justify;">
          A função ESTÁGIOS permite ver as vagas e benefícios ofertados, pesquisar pelo empregador ou a área de seu interesse. Não podemos esquecer que o mundo é feito de aprendizado; então, na função TUTORIAS (aulas), você encontra assuntos do seu interesse e ainda ajuda com a evolução do nosso conhecimento.
        </p>
        <p style="text-align: justify;">
          A função PROJETOS é onde você compartilha suas ideias. O ambiente colaborativo do MurOn propicia o encontro de pessoas com os mesmos objetivos, além de pesquisar detalhes dos nossos projetos. Compartilhe conosco e acrescente algo relevante à nossa comunidade.
        </p>
        <p style="text-align: justify;">
          Por falar em colaboração, na função SERVIÇOS, encontramos quem nos ajuda em nossas necessidades e também propicia a você divulgar algum serviço importante para todos nós.
        </p>
        <p style="text-align: justify;">
          É isso. Nossa missão é conectar pessoas com sinergias; divulgar os eventos e estágios relevantes ao nosso público, compartilhar nossos projetos e serviços; e tornar nossa comunicação mais criativa e envolvente!.
        </p>
        <p>Versão: 15.2</p>
        <p>Última atualização: 12/12/2012</p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>