<section>
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <p style="text-align: justify;">O <b>MurOn</b> é a rede social pensada para compartilhar os seus momentos relacionados à vida universitária, além de conectar pessoas com projetos semelhantes.
          Nosso objetivo é obter sinergias em um ambiente colaborativo.
          Com o <b>MurOn</b>, você poderá construir seu portifólio acadêmico, compartilhar eventos, pesquisar estágios, além de encontrar pessoas dispostas a prestar serviços relevantes para nossa comunidade. Queremos ser o mural digital da sua faculade, de uma maneira inteligente e criativa.
          Junte-se a nós e divirta-se!

        </p>
        <p style="text-align: justify;">
          Se não tiver conta no <b>MurOn</b>, cadastre-se como Usuário/MurEr. Você também pode ser nosso Parceiro. Se for representante de uma faculdade, escolha a opção: Faculdade. Agora, se você quiser apenas divulgar algo interessante para o mundo universitário, marque a opção: Divulgador.
          Na tela principal, encontramos 4 opções: Divulgação, Estágios, Projetos e Faculdade. Em cada uma delas, há uma forma divertida de interagir com as pessoas.

        </p>
        <p style="text-align: justify;">
          Se você quer deixar registrado aquele momento especial, escolha a opção DIVULGAÇÃO. Lá, você também pode procurar por algum evento (acadêmico ou não), cursos ou congressos, ou mesmo oferecer algum serviço relevante para nossa comunidade. O <b>MurOn</b> te ajudará a encontrar algo do seu interesse. Navegue, chame seus amigos e divulgue os eventos ou serviços!<br/>
          Além disso, o <b>MurOn</b> é o ambiente adequado para conectar estagiários e empregadores. Nossa plataforma oferece uma maneira de encontrar o estágio relevante para você. A função ESTÁGIO permite ver as vagas e benefícios ofertados, pesquisar pelo empregador ou a área de seu interesse. Tudo de forma intuitiva e de fácil navegação.<br/>
          A função PROJETO é onde você compartilha suas ideias. O ambiente colaborativo do <b>MurOn</b> favorece o encontro de pessoas com os mesmos objetivos. É possível também pesquisar detalhes dos projetos. Compartilhe conosco e acrescente algo relevante à nossa comunidade.<br/>
          Você também pode selecionar a função FACULDADE para acessar as notícias e publicações especiais da sua faculdade.

        </p>
        <p style="text-align: justify;">
          É isso. Nossa missão é compartilhar os momentos, conectar pessoas, divulgar projetos e serviços, e tornar nossa comunicação mais divertida e eficiente!
        </p>

      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>