<section>
  <div class="row">
    <div class="col s12">
      <div class="card-panel">

        <p style="text-align: justify;">
          O <b>MurOn</b> é a plataforma de divulgação colaborativa dos assuntos relacionados a sua vida universitária.
        </p>

        <p style="text-align: justify;">
          Encontrou algo relevante para nossa comunidade, fotografe, poste e compartilhe conosco!
          Quer pesquisar estágios, além de encontrar pessoas dispostas a prestar serviços relevantes para você? Procure no <b>MurOn</b>.
        </p>

        <p style="text-align: justify;">
          Junte-se a nós e divirta-se!
        </p>

        <p style="text-align: justify;">
          Se não tiver conta no <b>MurOn</b>, cadastre-se como Usuário/MurEr. Você também pode ser nosso Parceiro. Se for representante de uma faculdade, escolha a opção: Faculdade. Agora, se você quiser apenas divulgar algo interessante para o mundo universitário, marque a opção: Divulgador.
          Na tela principal, encontramos 4 opções: Divulgação, Estágios, Projetos e Faculdade. Em cada uma delas, há uma forma divertida de interagir com as pessoas.
        </p>

        <p style="text-align: justify;">
          Se quiser registrar aquele momento especial, escolha a opção DIVULGAÇÃO. Lá, você também pode compartilhar eventos importantes (acadêmicos ou não) ou mesmo oferecer  serviços relevantes para nossa comunidade. O <b>MurOn</b> te ajudará com esse objetivo. Navegue, chame seus amigos e divulgue os eventos ou serviços!
        </p>

        <p style="text-align: justify;">
          Além disso, o <b>MurOn</b> é o ambiente adequado para conectar estagiários e empregadores. Nossa plataforma oferece uma maneira de encontrar o estágio relevante para você. A função ESTÁGIOS permite ver as vagas e benefícios ofertados, pesquisar pelo empregador ou a área de seu interesse. Tudo de forma intuitiva e de fácil navegação.
        </p>

        <p style="text-align: justify;">
          A função PROJETOS é onde você compartilha suas ideias. O ambiente colaborativo do <b>MurOn</b> favorece o encontro de pessoas com os mesmos objetivos. É possível também pesquisar detalhes de cada projeto. Compartilhe conosco e acrescente algo relevante à nossa comunidade.
        </p>

        <p style="text-align: justify;">
          Você também pode selecionar a função FACULDADE para acessar as notícias e publicações especiais da sua faculdade. Queremos ser o mural digital da sua faculade, de uma maneira inteligente e criativa.
        </p>

        <p style="text-align: justify;">
          É isso. Nossa missão é conectar pessoas, registrar momentos, compartilhar projetos e serviços, e tornar nossa comunicação mais divertida e eficiente!
        </p>


      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>