<section>
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare, tellus eget laoreet bibendum, urna tortor condimentum neque, vitae dignissim nibh nisi tristique felis. Integer fermentum nunc quam. Nunc at accumsan sapien. Aenean velit est, posuere maximus mollis eu, dignissim tristique erat. Aliquam eget elementum velit. Aliquam quis quam est. Nullam sollicitudin lacinia nunc sit amet tristique. Aliquam porta fermentum diam in mattis. Proin maximus risus id mollis ullamcorper. Mauris et metus sit amet metus efficitur vestibulum et non enim. Quisque ligula quam, sagittis at aliquet vitae, facilisis quis mauris. Fusce quis justo odio.</p>
        <p>Versão: 15.2</p>
        <p>Última atualização: 12/12/2012</p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>