<form method="post" action="">
	<div class="row">
		<div class="input-field col s12">
			<label>Nome</label>
			<input type="text" name="">
		</div>
		<div class="input-field col s12">
			<label>Nome</label>
			<input type="text" name="">
		</div>
		<div class="input-field col s12">
			<label>Nome</label>
			<input type="text" name="">
		</div>
		<div class="input-field col s12">
			<label>Nome</label>
			<input type="text" name="">
		</div>
		<div class="input-field col s12">
			<label>Nome</label>
			<input type="text" name="">
		</div>
	</div>
</form>

<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>