<form method="post" action="">
	<div class="container">
		<div class="row">
			<div class="col s6 offset-s3 center" style="padding-top: 10px;">
				<div style="border: 2px solid #000; border-radius: 5px; background-image: url(/assets/imgs/cadastro-imagem-pessoa-person.png); height: 113px; background-size: cover; background-repeat: no-repeat; position: relative;">
					<div id="edit-cadastro" class="white-text valign-wrapper" style="left: 50%;margin-left: 31px;margin-top: 85px;">
						<i class="fa fa-pencil-square-o edit-icon" style="margin-bottom: -5px;"></i>
						<span class="edit-text">Editar</span>
					</div>
					<!-- <img style="max-width: 100%; max-height: 100%; margin: 0; padding: 0;" src=""> -->
					<!-- <i class="fa fa-user" style="color: #000; font-size: ;"></i> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6">
			  <select class="browser-default">
			    <option value="" disabled selected>Pessoal, grupos ou faculdade</option>
			    <option value="1">Pessoal</option>
			    <option value="2">Grupo</option>
			    <option value="3">Faculdade</option>
			  </select>
			</div>
			<div class="col s12 m6">
			  <select class="browser-default">
			    <option value="" disabled selected>Onde deseja postar</option>
			    <option value="1">Grupo 1</option>
			    <option value="2">Grupo 2</option>
			    <option value="3">Grupo 3</option>
			  </select>
			</div>
	    <div class="input-field col s12">
	      <input id="password" type="text" class="validate">
	      <label for="nome">Nome</label>
	    </div>
	    <div class="input-field col s12">
	      <input id="email" type="email" class="validate">
	      <label for="email">Email</label>
	    </div>
	    <div class="input-field col s12">
	      <input id="password" type="text" class="validate">
	      <label for="password">Senha</label>
	    </div>
	    <div class="input-field col s12">
	      <input id="email" type="email" class="validate">
	      <label for="email">Confirmar Senha</label>
	    </div>
	    <div class="input-field col s12">
	      <input id="password" type="text" class="validate">
	      <label for="password">Password</label>
	    </div>
		</div>
		<div class="col s12 center">
			<button class="g-blue white-text btn-large" style="border-radius: 10px; font-size: 1.2em; font-weight: bold; width: 80%;">Publicar</button>
		</div>
	</div>
</form>