<!DOCTYPE html>
<html>
<head>
	<title>Muron</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel='stylesheet' href='/assets/css/font-awesome-login.min.css' />
	<link rel='stylesheet' href='/assets/css/materialize.min.css' />
	<link rel='stylesheet' href='/assets/css/jquery-ui.min.css' />
	<link rel='stylesheet' href='/assets/css/style.css' />
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.mask.js"></script>
	<script src="/assets/js/materialize.min.js"></script>
	<script src="/assets/js/jquery-ui.min.js"></script>
</head>
<body class="row login">
	<!-- Esqueceu Senha -->
	<div id="modalforgot" class="modal">
		<div class="modal-content">
			<form method="POST">
				<p><b>Recuperação de Senha</b></p>
				<div class="input-field">
					<label>Digite seu email</label>
					<input type="email" name="email">
				</div>
				<button class="btn blue white-text resend-pass">
					Confirmar
				</button>
			</form>
		</div>
	</div>
	<!-- Cadastre-se -->
	<div id="modalnew" class="modal">
		<div class="modal-content">
			<p><b>Cadastro de Usuário</b></p>
			<form id="cadastra-usuario" method="POST" action="" onsubmit="">
				<div class="row">
					<div class="col s12 input-field">
						<label>Nome</label>
						<input required="true" type="text" name="nome">
					</div>
					<div class="col s12 input-field">
						<label>E-mail</label>
						<input required="true" type="email" name="email">
					</div>
					<div class="col s12">
						<label>Faculdade</label>
						<input class="faculdade_filtro" required="true" type="text" placeholder="Nome da Faculdade" name="nome_faculdade" >						
						<input type="hidden" name="id_faculdade">

<!-- 						<select class="browser-default faculdade-lista" name="id_faculdade">
							<option value="" disabled selected>Selecione</option>
						</select>
					-->
					<!-- <input required="true" type="text" name="faculdade"> -->
				</div>
				<div class="col s12 input-field">
					<label>Curso</label>
					<input class="curso_filtro" type="text" name="nome_curso" placeholder="Nome do Curso">
					<input type="hidden" name="id_curso">
				</div>
				<div class="col s12">
					<label>Situação</label>
					<select class="browser-default" name="status">
						<option value="" disabled selected>Selecione</option>
						<option value="1">Aluno</option>
						<option value="2">Ex-Aluno</option>
						<option value="3">Professor</option>
						<option value="4">Colaborador</option>
					</select>
				</div>
				<div class="col s12 input-field">
					<label>Login (Nome MurEr)</label>
					<input required="true" type="text" name="nome_murer">
				</div>
				<div class="col s12 input-field">
					<label>Senha</label>
					<input required="true" type="password" name="senha">
				</div>
				<div class="col s12 input-field">
					<label>Senha Confirmar</label>
					<input required="true" type="password" name="senha_confirmar">
				</div>
				<div class="col s12">
					<button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
				</div>
				<div class="col s12 error_container_muron hide">
					<div class="error_muron_mensagem red white-text" style="margin-top: 10px;padding: 5px;text-align: center;"></div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Cadastre-se Parceiro -->
<div id="modalparceiro" class="modal">
	<div class="modal-content">
		<p><b>Cadastro de Parceiro</b></p>
		<form id="cadastra-parceiro" method="POST" action="" onsubmit="">
			<div class="row">
				<div class="col s12">
					<label>Tipo de Parceiro</label>
					<select id="tipo_parceiro_sel" required="true" class="browser-default" name="tipo">
						<option value="" disabled selected>Selecione</option>
						<option value="2">Faculdade</option>
						<option value="3">Divulgador</option>
					</select>
				</div>

				<div class="col s12 hide faculdade_parceiro_container">
					<label>Faculdade</label>
					<input class="faculdade_filtro" required="true" type="text" placeholder="Nome da Faculdade" name="nome_faculdade">
					<input type="hidden" name="id_faculdade">
				</div>

				<div class="col s12 input-field nome_divulgador_container hide">
					<label>Nome</label>
					<input required="true" type="text" name="nome">
				</div>
				<div class="col s12 input-field">
					<label>Login (Nome MurEr)</label>
					<input required="true" type="text" name="nome_murer">
				</div>
				<div class="col s12 input-field">
					<label>E-mail</label>
					<input required="true" type="email" name="email">
				</div>
				<div class="col s12 input-field">
					<label>Telefone</label>
					<input type="text" name="celular" class="tel" required="true">
				</div>
				<div class="col s12 input-field">
					<label>Nome de Contato</label>
					<input required="true" type="text" name="nome_contato">
				</div>
				<div class="col s12 input-field">
					<label>Site</label>
					<input type="text" name="site">
				</div>
				<div class="col s12 input-field">
					<label>Descrição</label>
					<textarea name="descricao" class="materialize-textarea" placeholder="Detalhes da sua atividade..."></textarea>
				</div>
				<div class="col s12 input-field">
					<label>Senha</label>
					<input required="true" type="password" name="senha">
				</div>
				<div class="col s12 input-field">
					<label>Confirmar Senha</label>
					<input required="true" type="password" name="senha_confirmar">
				</div>
				<div class="col s12">
					<button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
				</div>
				<div class="col s12 error_container_parceiro hide">
					<div class="error_parceiro_mensagem red white-text" style="margin-top: 10px;padding: 5px;text-align: center;"></div>
				</div>

			</div>
		</form>
	</div>
</div>
<main>
	<section>
		<div>

			<form id="entra-sistema" method="POST" action="">
				<div class="icon center-align">
					<img style="max-height: 320px;" src="/assets/imgs/logo.png">
				</div>
				<div class="box arrow_box">
					<%
					if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == '404') {
						%>
						<div class="card-panel red darken-1 center-align">
							<span class="white-text"><%= erro %></span>
						</div>
						<%
					} else if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == 'login') {
						%>
						<div class="card-panel red darken-1 center-align">
							<span class="white-text"><%= erro %></span>
						</div>
						<%
					}else if(typeof alertaAcesso != 'undefined' && typeof tipo_alerta !='undefined' && tipo_alerta == 'login'){
						%>
						<div class="card-panel yellow darken-2 center-align">
							<span class="white-text"><%= alertaAcesso %>
								<i class="fa <%= iconeAlerta %>" aria-hidden="true"></i>
							</span>
						</div>

						<%}%>
						<div class="container-small">
							<div class="inputs">
								<div class="input-field valign-wrapper">
									<i class="fa fa-user-o prefix grey-text center-align" aria-hidden="true"></i>
									<input type="text" name="nome_murer" id="nome_murer" class="validate" placeholder="Login (Nome MurEr)">
								</div>
								<div class="input-field">
									<i class="fa fa-key prefix grey-text center-align" aria-hidden="true"></i>
									<input type="password" name="senha" id="senha" class="validate" placeholder="Senha">
								</div>
							</div>
							<div class="center-align">
								<button class="btn-large waves-effect waves-teal waves-light">
									Entrar
								</button>
							</div>
							<p class="acc">
								<a class="white-text" href="#modalforgot">Esqueceu sua senha? <span class="blue-text text-darken-2">Clique aqui</span></a><br>
								<a class="white-text" href="#modalnew">Ainda não tem conta? <span class="blue-text text-darken-2">Cadastre-se</span></a>
							</p>
							<div class="or"><span>OU</span></div>
							<div class="row">
								<br>
								<a class="white-text" href="#modalparceiro">Quer ser um parceiro? <span class="blue-text text-darken-2">Cadastre-se</span></a><br>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>

		<div class="container-small">
			<div class="footer white-text">
				Está com problemas para fazer login? Tente entrar em contato com <a class="blue-text text-darken-2" href="mailto:suporte@muron.com.br">suporte@muron.com.br</a>
			</div>
		</div>

	</main>
</body>
<script type="text/javascript">
	$(document).on('ready', function () {
		$('.modal').modal();


		$('.tel').mask('(00) Z0000-0000', {
			translation: {
				'Z': {
					pattern: /[0-9]/, optional: true
				}
			}
		});


		function showOptions(option){
			console.log('estou sendo clicado no sem faculdade');
			console.log(option);
		}



		$('#entra-sistema').on('submit', function(e) {
			e.preventDefault();
			var form = $(this);
			var post = form.serializeArray();
			console.log('ppppppppp post');
			console.log(post);
			console.log('pppppppppppppp');


			// $.ajax({
			// 	method: 'POST',
			// 	async: true,
			// 	data: post,
			// 	url: '/sistema/api/teste_entrar/',
			// 	beforeSend: function(request) {
			// 		console.log('ANTES DE ENVIAR :D');
			// 	},
			// 	sucess: function(data){
			// 		console.log('RRRRRRRRRRRRR RECEBIMENTO DATA RRRRRRRRRRRRRRRR');
			// 		console.log(data);
			// 		console.log('RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR');
			// 		if(data.result == 'redirect'){
			// 			window.location.replace(data.url);
			// 		}

			// 	},
			// 	error: function(xhr) { // if error occured
			// 		console.log('deu erro');
			// 		alert("Error, contate o administrador ou reinicie a pagina.");
			// 	},
			// 	complete: function() {
			// 		console.log('deu completado');
			// 		}
			// 	});





			$.ajax({
				method: 'POST',
				async: true,
				data: post,
				url: '/sistema/api/entrar_sistema/',
				beforeSend: function(request) {
					// request.setRequestHeader("Authority-Optima-hash", $('input[name="hash_usuario_sessao"]').val());
					// request.setRequestHeader("Authority-Optima-nivel", $('input[name="nivel_usuario_sessao"]').val());
					// request.setRequestHeader("Authority-Optima-id", $('input[name="id_usuario_sessao"]').val());

					console.log('ANTES DE ENVIAR :D');
				},
				success: function(data) {
					console.log('RRRRRRRRRRRRR RECEBIMENTO DATA RRRRRRRRRRRRRRRR');
					console.log(data);
					console.log('RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR');
					if(data.result == 'redirect'){
						window.location.replace(data.url);
					}
				},
    		error: function(xhr) { 	// if error occured
    			console.log('error de não entrar');
    			console.log(xhr.statusText);
    		},
    		complete: function(data) {
    			console.log('deu completado');	
    		}
  });












		});



		$('#cadastra-usuario').on('submit', function(e) {
			e.preventDefault();
			var form = $(this);
			var post = form.serializeArray();
			if($('.modal input[name="senha"]').val() != $('.modal input[name="senha_confirmar"]').val())
			{
				alert('Confirmação de Senha incorreta')
			}else{
				$.ajax({
					method: 'POST',
					async: true,
					data: post,
					url: '/sistema/api/cadastrar/usuario',
					beforeSend: function(request) {
					},
					success: function(data) {

						if(data == "muron_existente"){
							$('.error_container_muron').removeClass('hide');
							$('.error_container_muron').find('.error_muron_mensagem').html('Já existe alguém com este nome de Murer!');
						}else if(data == "possui_muron"){
							$('.error_container_muron').removeClass('hide');
							$('.error_container_muron').find('.error_muron_mensagem').html('Não é possível cadastrar este usuário!');
						}else if(data == 'dado_invalido'){
							$('.error_container_muron').removeClass('hide');
							$('.error_container_muron').find('.error_muron_mensagem').html('Por-favor Validar se Todos os Dados estão corretos.');
						}else{
							if(data.length == 0) {
								alert('Usuário já cadastrado, tente novamente com outro Login');
							} else {
								var nome_murer = form.find('input[name="nome_murer"]').val();
								var senha = form.find('input[name="senha"]').val();
								$('.inputs').find('input[name="nome_murer"]').val(nome_murer);
								$('.inputs').find('input[name="senha"]').val(senha);
								$('.modal').modal('close');
							}
						}
					},
			    error: function(xhr) { // if error occured
			    	alert("Error, contate o administrador ou reinicie a pagina.");
			    },
			    complete: function() {
			    }
			  });
			};
		});

		$('#cadastra-parceiro').on('submit', function(e) {
			e.preventDefault();

			if($(this).find('select[id="tipo_parceiro_sel"]').val() == '2'){
				$(this).find('.nome_divulgador_container').find('input').val($(this).find('.faculdade_filtro').val());
			}

			var form = $(this);
			var post = form.serializeArray();

			if($('#cadastra-parceiro input[name="senha"]').val() != $('#cadastra-parceiro input[name="senha_confirmar"]').val()){
				alert('Confirmação de Senha incorreta');
			} else {
				$.ajax({
					method: 'POST',
					async: true,
					data: post,
					url: '/sistema/api/cadastrar/parceiro',
					beforeSend: function(request) {
					},
					success: function(data) {
						console.log('DDDDDDDDDDDDDDDDD DATAAAAAAAAAAAAAAA DDDDDDDDDDDDDDDDDDDDDD');
						console.log(data);
						console.log('DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD');
						if(data == "possui_gerente"){
							console.log('SOU UM ERRO');
							$('.error_container_parceiro').removeClass('hide');
							$('.error_container_parceiro').find('.error_parceiro_mensagem').html('Já existe um Gerente para esta Faculdade!');

						}else if(data == "possui_muron"){

							$('.error_container_parceiro').removeClass('hide');
							$('.error_container_parceiro').find('.error_parceiro_mensagem').html('Não é possível cadastrar este usuário!');

						}else if(data == 'dado_invalido'){
							$('.error_container_parceiro').removeClass('hide');
							$('.error_container_parceiro').find('.error_parceiro_mensagem').html('Por-favor Validar se Todos os Dados estão corretos.');
						}else{
							if(data.length == 0) {
								alert('Usuário já cadastrado, tente novamente com outro Login');
							}else {
								var nome_murer = form.find('input[name="nome_murer"]').val();
								var senha = form.find('input[name="senha"]').val();
								$('.inputs').find('input[name="nome_murer"]').val(nome_murer);
								$('.inputs').find('input[name="senha"]').val(senha);
								$('.modal').modal('close');
							}


						}
						

					},
				    error: function(xhr) { // if error occured
				    	alert("Error, contate o administrador ou reinicie a pagina.");
				    },
				    complete: function() {
				    }
				  });
			}
		});

		$(document).on('click', '.resend-pass', function(e) {
			e.preventDefault();
			var form = $(this).closest('form');
			var post = form.serializeArray();
			$.ajax({
				method: 'POST',
				async: true,
				data: post,
				url: '/sistema/api/recuperar/senha',
				success: function(data) {
					Materialize.toast('<div class="center-align" style="width:100%;">Mensagem enviada com sucesso.</div>', 5000, 'rounded');
				},
			    error: function(xhr) { // if error occured
			    	alert("Error, contate o administrador ou reinicie a pagina.");
			    }
			  });
		});

		$(document).on('change', 'select[id="tipo_parceiro_sel"]', function () {
			if($(this).val() == '2'){
				$('.nome_divulgador_container').addClass('hide');
				$('.nome_divulgador_container').find('input').val(0);
				$('.faculdade_parceiro_container').removeClass('hide');
				$('.faculdade_parceiro_container').find('input').val('');

			}else if($(this).val() == '3'){
				$('.nome_divulgador_container').removeClass('hide');
				$('.nome_divulgador_container').find('input').val('');
				$('.faculdade_parceiro_container').addClass('hide');
				$('.faculdade_parceiro_container').find('input').val(0);
			}

		});
	});

function autoComplete(element,url,select_el){
	$(element).autocomplete({
		source: function( request, response ){
			$.ajax({
				method:'GET',
				async:true,
				dataType:'json',
				url:url+request.term,
				beforeSend: function() {
					console.log(request);	
					console.log(request.term);	
				},
				success: function(data) {
					console.log(data);
					response(data);
					console.log('---------------- O REQUEST -----------');
					console.log(request);
					console.log('--------------------------------------');

					response($.map(data, function (item) {
						return {
							label: item.name,
							value: item.name,
							id: item.id
						};
					}));
				},
				error: function(xhr) {
					console.log(xhr);
				},
				complete: function() {
				}
			});
		},
		select:function(event,ui){
			$(this).parent().find(select_el).val(ui.item.id);
		}

	});
}




autoComplete('.faculdade_filtro','/sistema/api/pesquisar/faculdade/','input[name="id_faculdade"]');
autoComplete('.curso_filtro','/sistema/api/pesquisar/curso/','input[name="id_curso"]');

</script>

</html>
