<!DOCTYPE html>
<html>
<head>
	<title>Sistema Quorp</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
	<link rel='stylesheet' href='/assets/css/materialize.min.css' />
	<link rel='stylesheet' href='/assets/css/style.css' />
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/materialize.min.js"></script>
</head>
<body class="row login">
	<!-- Esqueceu Senha -->
	<div id="modalforgot" class="modal">
		<div class="modal-content">
			<p><b>Recuperação de Senha</b></p>
			<div class="input-field">
				<label>Digite seu email</label>
				<input type="email" name="email">
			</div>
			<button class="btn blue white-text">
				Confirmar
			</button>
		</div>
	</div>
	<!-- Cadastre-se -->
	<div id="modalnew" class="modal">
		<div class="modal-content">
			<p><b>Cadastro de Usuário</b></p>
			<form id="cadastra-usuario" method="POST" action="" onsubmit="">
				<div class="row">
					<div class="col s12 input-field">
						<label>Nome</label>
						<input required="true" type="text" name="nome">
					</div>
					<div class="col s12 input-field">
						<label>E-mail</label>
						<input required="true" type="email" name="email">
					</div>
					<div class="col s12 input-field">
						<label>Faculdade</label>
						<input required="true" type="text" name="faculdade">
					</div>
					<div class="col s12 input-field">
						<label>Curso</label>
						<input required="true" type="text" name="curso">
					</div>
					<div class="col s12">
						<label>Situação</label>
						<select class="browser-default" name="status">
							<option value="" disabled selected>Selecione</option>
							<option value="1">Aluno</option>
							<option value="2">Ex-Aluno</option>
							<option value="3">Professor</option>
							<option value="4">Divulgador</option>
						</select>
					</div>
					<div class="col s12 input-field">
						<label>Login (Nome MurEr)</label>
						<input required="true" type="text" name="nome_murer">
					</div>
					<div class="col s12 input-field">
						<label>Senha</label>
						<input required="true" type="password" name="senha">
					</div>
					<div class="col s12 input-field">
						<label>Senha Confirmar</label>
						<input required="true" type="password" name="senha_confirmar">
					</div>
					<div class="col s12">
						<button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Cadastre-se Parceiro -->
	<div id="modalparceiro" class="modal">
		<div class="modal-content">
			<p><b>Cadastro de Parceiro</b></p>
			<form id="cadastra-parceiro" method="POST" action="" onsubmit="">
				<div class="row">
					<div class="col s12">
						<label>Tipo de Parceiro</label>
						<select class="browser-default" name="tipo">
							<option value="" disabled selected>Selecione</option>
							<option value="2">Faculdade</option>
							<option value="3">Divulgador</option>
						</select>
					</div>
					<div class="col s12 input-field">
						<label>Nome</label>
						<input type="text" name="nome">
					</div>
					<div class="col s12 input-field">
						<label>Login (Nome MurEr)</label>
						<input type="text" name="nome_murer">
					</div>
					<div class="col s12 input-field">
						<label>E-mail</label>
						<input type="text" name="email">
					</div>
					<div class="col s12 input-field">
						<label>Telefone</label>
						<input type="text" name="celular">
					</div>
					<div class="col s12 input-field">
						<label>Nome de Contato</label>
						<input type="text" name="nome_contato">
					</div>
					<div class="col s12 input-field">
						<label>Descrição</label>
						<textarea name="descricao" class="materialize-textarea" placeholder="Detalhes da sua atividade..."></textarea>
					</div>
					<div class="col s12 input-field">
						<label>Senha</label>
						<input type="password" name="senha">
					</div>
					<div class="col s12 input-field">
						<label>Confirmar Senha</label>
						<input type="password" name="senha_confirmar">
					</div>
					<div class="col s12">
						<button class="btn blue white-text" style="width: 100%;">Finalizar Cadastro</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<main>
		<section>
			<div>
				<form method="POST" action="/">
					<div class="icon center-align">
						<img style="max-height: 320px;" src="/assets/imgs/logo.png">
					</div>
					<div class="box arrow_box">
						<%
						if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == '404') {
							%>
							<div class="card-panel red darken-1 center-align">
								<span class="white-text"><%= erro %></span>
							</div>
							<%
						} else if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == 'login') {
							%>
							<div class="card-panel red darken-1 center-align">
								<span class="white-text"><%= erro %></span>
							</div>
							<%
						}
						%>
						<div class="container-small">
							<div class="inputs">
								<div class="input-field valign-wrapper">
									<i class="fa fa-user-o prefix grey-text center-align" aria-hidden="true"></i>
									<input type="text" name="nome_murer" id="nome_murer" class="validate" placeholder="Login (Nome MurEr)">
								</div>
								<div class="input-field">
									<i class="fa fa-key prefix grey-text center-align" aria-hidden="true"></i>
									<input type="password" name="senha" id="senha" class="validate" placeholder="Senha">
								</div>
							</div>
							<div class="center-align">
								<button class="btn-large waves-effect waves-teal waves-light">
									Entrar
								</button>
							</div>
							<p class="acc">
								<a class="white-text" href="#modalforgot">Esqueceu sua senha? <span class="blue-text text-darken-2">Clique aqui</span></a><br>
								<a class="white-text" href="#modalnew">Ainda não tem conta? <span class="blue-text text-darken-2">Cadastre-se</span></a>
							</p>
							<div class="or"><span>OU</span></div>
							<div class="row">
								<br>
								<a class="white-text" href="#modalparceiro">Quer ser um parceiro? <span class="blue-text text-darken-2">Cadastre-se</span></a><br>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>
</body>
<script type="text/javascript">
	$(document).on('ready', function () {
		$('.modal').modal();
		$('#cadastra-usuario').on('submit', function(e) {
			e.preventDefault();
			var form = $(this);
			var post = form.serializeArray();
			if($('.modal input[name="senha"]').val() != $('.modal input[name="senha_confirmar"]').val()){alert('Confirmação de Senha incorreta')}
			$.ajax({
				method: 'POST',
				async: true,
				data: post,
				url: '/sistema/api/cadastrar/usuario',
				beforeSend: function(request) {
				},
				success: function(data) {
					if(data.length == 0) {
						alert('Usuário já cadastrado, tente novamente com outro Login');
					} else {
						var nome_murer = form.find('input[name="nome_murer"]').val();
						var senha = form.find('input[name="senha"]').val();
						$('.inputs').find('input[name="nome_murer"]').val(nome_murer);
						$('.inputs').find('input[name="senha"]').val(senha);
    					$('.modal').modal('close');
					}
				},
			    error: function(xhr) { // if error occured
			    	alert("Error, contate o administrador ou reinicie a pagina.");
			    },
			    complete: function() {
			    }
			});
		});
		$('#cadastra-parceiro').on('submit', function(e) {
			e.preventDefault();
			var form = $(this);
			var post = form.serializeArray();
			if($('.modal input[name="senha"]').val() != $('.modal input[name="senha_confirmar"]').val()){alert('Confirmação de Senha incorreta')}
			$.ajax({
				method: 'POST',
				async: true,
				data: post,
				url: '/sistema/api/cadastrar/parceiro',
				beforeSend: function(request) {
				},
				success: function(data) {
					if(data.length == 0) {
						alert('Usuário já cadastrado, tente novamente com outro Login');
					} else {
						var nome_murer = form.find('input[name="nome_murer"]').val();
						var senha = form.find('input[name="senha"]').val();
						$('.inputs').find('input[name="nome_murer"]').val(nome_murer);
						$('.inputs').find('input[name="senha"]').val(senha);
    					$('.modal').modal('close');
					}
				},
			    error: function(xhr) { // if error occured
			    	alert("Error, contate o administrador ou reinicie a pagina.");
			    },
			    complete: function() {
			    }
			});
		});
	});
</script>
</html>
