<section class="g-bg-bw" style="position: fixed;">
	<center>
		<div id="logo-cont">
			<a href="">
				<img id="logo" src="/assets/imgs/logo.png">
			</a>
		</div>
		<div id="login-cont" class="container">
			<div style="background: white; height: 7em; border-radius: 0.9em; margin-bottom: 1em;">
				<div class="input-field col s12" style="margin-top: 0; margin-bottom: 0;">
          <input placeholder="E-mail" type="text" name="login" style="margin-top: 0; margin-bottom: 0; height: 3.45em;">
          <label></label>
        </div>
        <div style="border-bottom: 1px solid #000; position: relative; top: 49%; width: 95%; opacity: 0.3;"></div>
				<div class="input-field col s12" style="margin-top: 0; margin-bottom: 0;">
          <input placeholder="Senha" type="text" name="senha" style="margin-top: 0; margin-bottom: 0; height: 3.45em;">
          <label></label>
        </div>
			</div>
			<a href="/sistema" class="white-text ajax-load">
				<button style="background-color: #3266c1; color: white; width: 100%; height: 3em; border-radius: 0.9em;">
					<p>Entrar</p>
				</button>
			</a>
			<div class="row">
				<div class="col s12">
					<div style="width: 95%; text-align: left; color: white; margin-top: 1em;">
						<a href="#!" style="color: white;"><p>Esqueceu sua senha?</p></a>
						<a href="/sistema/usuarios/cadastro" style="color: white; float: left;"><p>Ainda não tem sua conta? <span style="color: #4162a3;">Cadastre-se.</span></p></a>
					</div>
				</div>
				<div class="col s12">
					<div class="row valign-wrapper" style="margin: 1.5em 0 0 0;">
						<div class="col s5" style="border-bottom: 2px solid #000;margin: 0;"></div>
						<div class="col s1" style="margin: auto; padding: 0; text-align: center;">OU</div>
						<div class="col s5" style="border-bottom: 2px solid #000;margin: 0;"></div>
					</div>
				</div>
			</div>
			<div>
				<a href="/sistema" class="white-text ajax-load">
					<button style="background-color: #cf4332; color: white; width: 100%; height: 4em; border-radius: 0.9em; margin: 0.5em 0 0.5em 0;">
						<p>Entrar com Google</p>
					</button>
				</a>
				<a href="/sistema" class="white-text ajax-load">
					<button style="background-color: #3b66c4; color: white; width: 100%; height: 4em; border-radius: 0.9em; margin: 0.5em 0 0.5em 0;">
						<p>Entrar com Facebook</p>
					</button>
				</a>
			</div>
		</div>
	</center>
</section>

<style type="text/css">
	/*css reset*/
	* {
		padding:0;
		margin:0;
		vertical-align:baseline;
		list-style:none;
		border:0;
		position: initial;
	}
	#logo-cont {
		width: 85% !important;
		margin-top: 7em;
		margin-bottom: 9em;
		position: initial;
		display: inline-block;
	}
	#logo {
		width: 100%;
	}
	#login-cont {
		width: 80%;
		bottom: 8%;
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
		left: 10%;
		right:10%;
	}
	#header_1 {
		display: none;
	}
	#footer {
		display: none;
	}
	.g-bg-bw {
  background: linear-gradient(to right top, rgb(203, 221, 253), rgb(154, 187, 248), rgb(142, 180, 247));
  height: 100% !important;
  top: 0;
	}
	.input-field label {
     color: #000;
   }
	.input-field input[type=text] {
  	border-bottom: 0px solid #fff !important;
  	box-shadow: 0 0px 0 0 #000 !important;
	}
	.input-field input[type=text]:focus {
  	border-bottom: 0px solid #fff !important;
  	box-shadow: 0 0px 0 0 #000 !important;
	}
</style>

<script type="text/javascript"></script>
<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>