<section class="hideFooter">
  <table class="striped">
      <tbody>
      <tr>
      	<td class="contato-img"><a href="/sistema/usuarios/ver/1"><img src="/assets/imgs/banner-1.jpeg" alt="" class="circle responsive-img"></a></td>
        <td>Gabriel</td>
      </tr>
      <tr>
      	<td class="contato-img"><a href="/sistema/usuarios/ver/1"><img src="/assets/imgs/banner-1.jpeg" alt="" class="circle responsive-img"></a></td>
        <td>Uriel</td>
      </tr>
      <tr>
      	<td class="contato-img"><a href="/sistema/usuarios/ver/1"><img src="/assets/imgs/banner-1.jpeg" alt="" class="circle responsive-img"></a></td>
        <td>Galadriel</td>
      </tr>
      <tr>
      	<td class="contato-img"><a href="/sistema/usuarios/ver/1"><img src="/assets/imgs/banner-1.jpeg" alt="" class="circle responsive-img"></a></td>
        <td>Andariel</td>
      </tr>
      <tr>
      	<td class="contato-img"><a href="/sistema/usuarios/ver/1"><img src="/assets/imgs/banner-1.jpeg" alt="" class="circle responsive-img"></a></td>
        <td>Miguel</td>
      </tr>
      <tr>
      	<td class="contato-img"><a href="/sistema/usuarios/ver/1"><img src="/assets/imgs/banner-1.jpeg" alt="" class="circle responsive-img"></a></td>
        <td>Kafziel</td>
      </tr>
    </tbody>
  </table>
</section>
<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>