<form method="POST" action="">
  <div class="row">
    <div class="input-field col s12">
      <label>Nome/Murer/E-mail</label>
      <input type="text" name="pesquisar" placeholder="Exemplo: joao@gmail.com">
    </div>
    <div class="center-align col s12">
      <a id="pesquisar_contato" class="btn blue darken-1 white-text" data-href="/sistema/usuarios/contatos">Pesquisar</a>
    </div>
  </div>
</form>
<table class="striped">
  <tbody id="contatos">
    <%- include('usuarios'); %>
  </tbody>
</table>
<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>