<section class="hideFooter">
	<div class="container">
		<div class="row">
			<div class="col s4 offset-s4 center" style="padding-top: 10px;">
				<div style="border: 2px solid #000; border-radius: 5px; background-image: url(/assets/imgs/cadastro-imagem-pessoa-person.png); height: 113px; background-size: cover; background-repeat: no-repeat; position: relative;">
					<div id="edit-cadastro" class="white-text valign-wrapper" style="left: 50%;margin-left: -36px;">
						<i class="fa fa-pencil-square-o edit-icon" style="margin-bottom: -5px;"></i>
						<span class="edit-text">Editar</span>
					</div>
					<!-- <img style="max-width: 100%; max-height: 100%; margin: 0; padding: 0;" src=""> -->
					<!-- <i class="fa fa-user" style="color: #000; font-size: ;"></i> -->
				</div>
			</div>
		</div>
		<form method="POST" action="" enctype="multipart/form-data">
			<div class="row">
				<div class="col s12 m6">
					<label>Tipo de Usuário</label>
			    <select required="true" id="select-cadastro" class="browser-default" name="tipo">
			      <option value="1" selected>MurEr</option>
			      <option value="2">Faculdade</option>
			      <option value="3">Divulgador</option>
			    </select>
				</div>
	      <div class="input-field col s12">
	        <input id="nome" name="nome" type="text" class="">
	        <label for="nome">Nome Completo</label>
	      </div>
	      <div class="input-field col s12">
	        <input id="nome_murer" name="nome_murer" type="text" class="">
	        <label for="nome_murer">Nome MurEr</label>
	      </div>
	      <div class="input-field col s12">
	        <input id="email" name="email" type="text" class="">
	        <label for="email">Email</label>
	      </div>
	      <div class="input-field col s12">
	        <input id="faculdade" type="text" class="">
	        <label for="faculdade">Faculdade</label>
	      </div>
	      <div class="input-field col s12">
	        <input class="datepicker" type="text" name="nascimento">
	        <label>Data de Nascimento</label>
	      </div>
				<div class="col s12 center">
					<p>
			      <input type="checkbox" id="termos_servico" />
			      <label for="termos_servico">Li e concordo com os <a href="#!">Termos de Serviço</a>.</label>
			    </p>
				</div>
				<div class="col s12 center">
					<!-- adicionar modal de "parabens pelo cadastro" quando der certo-->
					<button data-href="cadastro" data-action="mobsmart/" id="button-cadastro" class="g-blue white-text btn-large waves-effect waves-light ajax-submit">Confirmar Cadastro</button>
				</div>
			</div>
		</form>
	</div>
</section>

<style type="text/css">
	#select-cadastro, #select-cadastro > option {
		background-color: rgba(255, 255, 255, 0);
	}
	#select-cadastro {
		border: 1px solid #e6e6e6;
	}
	#edit-cadastro {
		position: absolute;
		bottom: 1px;
		width: 100%;
		text-align: center;
	}
	#edit-cadastro>.edit-icon {
		font-size: 1.8em;
	}
	#edit-cadastro>.edit-text {
		font-size: 1.3em;
	}
	.no-margin {
		margin: 0 !important;
		margin-top: 0  !important;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.no-margin > .row {
		margin: 0 !important;
		margin-top: 0  !important;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	#button-cadastro {
		border-radius: 10px;
		font-size: 1.2em;
		font-weight: bold;
		width: 80%;
	}
	.picker__date-display {
		background-color: #3196ff !important;
	}
	.picker__close, .picker__today {
		color: #3196ff !important;
	}
	.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
		background-color: #3196ff !important;
	}
	.picker__day.picker__day--today {
		color: #3196ff !important;
	}

</style>

<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>