<section class="hideFooter">
	<div class="container">
		<div class="row">
			<div class="col s4 offset-s4 center" style="padding-top: 10px;">
				<div style="border: 2px solid #000; border-radius: 5px; background-image: url(/assets/imgs/cadastro-imagem-pessoa-person.png); height: 113px; background-size: cover; background-repeat: no-repeat; position: relative;">
					<div id="edit-cadastro" class="white-text valign-wrapper" style="left: 50%;margin-left: -36px;">
						<i class="fa fa-pencil-square-o edit-icon" style="margin-bottom: -5px;"></i>
						<span class="edit-text">Editar</span>
					</div>
					<!-- <img style="max-width: 100%; max-height: 100%; margin: 0; padding: 0;" src=""> -->
					<!-- <i class="fa fa-user" style="color: #000; font-size: ;"></i> -->
				</div>
			</div>
		</div>
		<div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Nome</label>
      </div>
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Senha</label>
      </div>
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Confirmar Senha</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
			<div class="col s12 center">
				<p>
		      <input type="checkbox" id="test5" />
		      <label for="test5">Li e concordo com os <a href="">Termos de Serviço</a>.</label>
		    </p>
			</div>
			<div class="col s12 center">
				<button class="g-blue white-text btn-large" style="border-radius: 10px; font-size: 1.2em; font-weight: bold; width: 80%;">Confirmar Cadastro</button>
			</div>
		</div>
	</div>
</section>

<style type="text/css">
	#edit-cadastro {
		position: absolute;
		bottom: 1px;
		width: 100%;
		text-align: center;
	}
	#edit-cadastro>.edit-icon {
		font-size: 1.8em;
	}
	#edit-cadastro>.edit-text {
		font-size: 1.3em;
	}
	.no-margin {
		margin: 0 !important;
		margin-top: 0  !important;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.no-margin > .row {
		margin: 0 !important;
		margin-top: 0  !important;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
</style>
<script type="text/javascript">
  $('#footer').fadeOut('slow');
</script>