
<h4>Alterar Campo</h4>
<form method="POST" action="" enctype="multipart/form-data">
  <input type="hidden" name="id" value="<%= usuario.id %>">

  <div class="row">
    <div class="col s12">
      <label>UF</label>
      <select class="browser-default" id="estados" name="uf" title="Escolha seu estado">
        
      </select>    
    </div>
  </div>
  <div class="col s12">
    <label>Cidade</label>
    <select required="true" id="cidades" class="browser-default" name="cidade" title="Escolha sua cidade"></select>
  </div>

  <a style="margin-top:10px;" class="btn blue darken-1 ajax-submit" data-href="/sistema/usuarios/atualizar/" data-action="/sistema/usuarios/ver/<%= usuario.id %>#info-user">Alterar</a>

</form>
<script src="/assets/js/jquery-ui.min.js"></script>

<script type="text/javascript">
function Estados_Cidades() {
  $.getJSON('/assets/json/estados_cidades.json', function (data) {
    var items = [];
    var options = '<option value="">Escolha seu estado</option>'; 
    $.each(data, function (key, val) {
      options += '<option value="' + val.nome + '">' + val.nome + '</option>';
    });         
    $("#estados").html(options);
    $("#estados").change(function () {
      var options_cidades = '';
      var str = "";
      $("#estados option:selected").each(function () {
        str += $(this).text();
      });
      $.each(data, function (key, val) {
        if(val.nome == str) {             
          $.each(val.cidades, function (key_city, val_city) {
            options_cidades += '<option value="' + val_city + '">' + val_city + '</option>';
          });             
        }
      });
      $("#cidades").html(options_cidades);
    }).change();
  });
}



Estados_Cidades();








// function Estados_Cidades() {
//   $.getJSON('/assets/json/estados_cidades.json', function (data) {
//     var items = [];
//     var options = '<option value="0" disabled selected>Escolha seu estado</option>'; 
//     $.each(data, function (key, val) {
//       console.log('============ KEY ============');
//       console.log(key);
//       console.log('=============================');
//       console.log('____________ VAL ____________');
//       console.log(val);
//       console.log('_____________________________');
//       options += '<option value="' + val.nome + '">' + val.sigla + '</option>';
//     });         
//     $("#estados").html(options);
//     $("#estados").change(function () {
//       só para ter certeza que o disabled e o selected estão funcionando
//       if($('#estados').val() != 0){
//         $('.cidade_filtro').prop('disabled',false);
//         $('.cidade_filtro').focus();
//       }

//     });

//       var options_cidades = '';
//     var str = "";
//    $("#estados option:selected").each(function () {
//     str += $(this).text();
//       });
//      $.each(data, function (key, val) {
//      if(val.nome == str) {             
//        $.each(val.cidades, function (key_city, val_city) {
//         options_cidades += '<option value="' + val_city + '">' + val_city + '</option>';
//        });             
//     }
//   });
//    $("#cidades").html(options_cidades);
//  }).change();
//   });
//   // body...
// }
</script>
