<section class="main-margin" style="margin-top: 90px;">
	<div class="card row">
		<span class="card-title">Estagios</span>
		<div class="line"></div>
		<div class="col s12 m6 l4 center">
			<div class="card medium"> <!-- style="position: relative;" -->
				<div class="card-image mur-card-img">
					<img src="http://pngimg.com/uploads/student/student_PNG136.png">
				</div>
				<div class="card-content">
					<p>Lorem ipsum himenaeos rhoncus ultricies cras dictum pulvinar, ut suscipit imperdiet pulvinar nullam vestibulum, eleifend habitant mi commodo aenean vitae. pharetra purus hendrerit sapien leo et fusce non fusce mollis magna, proin commodo sociosqu blandit himenaeos nec ac feugiat vel aptent aenean, tempus ante facilisis quisque curabitur dolor per sit fusce. arcu ipsum ultricies inceptos tempus ligula nulla mattis leo id curabitur c</p>
				</div>
				<div class="post-bottom">
					<div class="small-line"></div>
					<div class="card-content white">
						<div class="col s6 left-align">
							<p>Publicado por: Meu ovo cozido</p>
							<p>Publicado por: Rã frita</p>
						</div>
						<div class="col s6 right-align">
							<p><br></p>
							<p>Data: 01/01/2001</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card comments">
				<ul class="collection">
					<!--for começa aqui-->
			    <li class="collection-item avatar left-align">
			      <img src="/assets/imgs/banner-1.jpeg" alt="" class="circle">
			      <span class="title">Title</span>
			      <p>First Line</p>
			      <a href="#!" class="secondary-content"><i class="fa fa-pencil-square-o blue-text"></i></a>
			    </li>
			    <!--for termina aqui-->
			  </ul>
			</div>
		</div>
		<div class="col s12 m6 l4 center">
			<div class="card medium"> <!-- style="position: relative;" -->
				<div class="card-image mur-card-img">
					<img src="http://pngimg.com/uploads/student/student_PNG136.png">
				</div>
				<div class="card-content">
					<p>Lorem ipsum himenaeos rhoncus ultricies cras dictum pulvinar, ut suscipit imperdiet pulvinar nullam vestibulum, eleifend habitant mi commodo aenean vitae. pharetra purus hendrerit sapien leo et fusce non fusce mollis magna, proin commodo sociosqu blandit himenaeos nec ac feugiat vel aptent aenean, tempus ante facilisis quisque curabitur dolor per sit fusce. arcu ipsum ultricies inceptos tempus ligula nulla mattis leo id curabitur c</p>
				</div>
				<div class="post-bottom">
					<div class="small-line"></div>
					<div class="card-content white">
						<div class="col s6 left-align">
							<p>Publicado por: Meu ovo cozido</p>
							<p>Publicado por: Rã frita</p>
						</div>
						<div class="col s6 right-align">
							<p><br></p>
							<p>Data: 01/01/2001</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card comments">
				<ul class="collection">
					<!--for começa aqui-->
			    <li class="collection-item avatar left-align">
			      <img src="/assets/imgs/banner-1.jpeg" alt="" class="circle">
			      <span class="title">Title</span>
			      <p>First Line</p>
			      <a href="#!" class="secondary-content"><i class="fa fa-pencil-square-o blue-text"></i></a>
			    </li>
			    <!--for termina aqui-->
			  </ul>
			</div>
		</div>
		<div class="col s12 m6 l4 center">
			<div class="card medium"> <!-- style="position: relative;" -->
				<div class="card-image mur-card-img">
					<img src="http://pngimg.com/uploads/student/student_PNG136.png">
				</div>
				<div class="card-content">
					<p>Lorem ipsum himenaeos rhoncus ultricies cras dictum pulvinar, ut suscipit imperdiet pulvinar nullam vestibulum, eleifend habitant mi commodo aenean vitae. pharetra purus hendrerit sapien leo et fusce non fusce mollis magna, proin commodo sociosqu blandit himenaeos nec ac feugiat vel aptent aenean, tempus ante facilisis quisque curabitur dolor per sit fusce. arcu ipsum ultricies inceptos tempus ligula nulla mattis leo id curabitur c</p>
				</div>
				<div class="post-bottom">
					<div class="small-line"></div>
					<div class="card-content white">
						<div class="col s6 left-align">
							<p>Publicado por: Meu ovo cozido</p>
							<p>Publicado por: Rã frita</p>
						</div>
						<div class="col s6 right-align">
							<p><br></p>
							<p>Data: 01/01/2001</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card comments">
				<ul class="collection">
					<!--for começa aqui-->
			    <li class="collection-item avatar left-align">
			      <img src="/assets/imgs/banner-1.jpeg" alt="" class="circle">
			      <span class="title">Title</span>
			      <p>First Line</p>
			      <a href="#!" class="secondary-content"><i class="fa fa-pencil-square-o blue-text"></i></a>
			    </li>
			    <!--for termina aqui-->
			  </ul>
			</div>
		</div>
		<div class="col s12 m6 l4 center">
			<div class="card medium"> <!-- style="position: relative;" -->
				<div class="card-image mur-card-img">
					<img src="http://pngimg.com/uploads/student/student_PNG136.png">
				</div>
				<div class="card-content">
					<p>Lorem ipsum himenaeos rhoncus ultricies cras dictum pulvinar, ut suscipit imperdiet pulvinar nullam vestibulum, eleifend habitant mi commodo aenean vitae. pharetra purus hendrerit sapien leo et fusce non fusce mollis magna, proin commodo sociosqu blandit himenaeos nec ac feugiat vel aptent aenean, tempus ante facilisis quisque curabitur dolor per sit fusce. arcu ipsum ultricies inceptos tempus ligula nulla mattis leo id curabitur c</p>
				</div>
				<div class="post-bottom">
					<div class="small-line"></div>
					<div class="card-content white">
						<div class="col s6 left-align">
							<p>Publicado por: Meu ovo cozido</p>
							<p>Publicado por: Rã frita</p>
						</div>
						<div class="col s6 right-align">
							<p><br></p>
							<p>Data: 01/01/2001</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card comments">
				<ul class="collection">
					<!--for começa aqui-->
			    <li class="collection-item avatar left-align">
			      <img src="/assets/imgs/banner-1.jpeg" alt="" class="circle">
			      <span class="title">Title</span>
			      <p>First Line</p>
			      <a href="#!" class="secondary-content"><i class="fa fa-pencil-square-o blue-text"></i></a>
			    </li>
			    <!--for termina aqui-->
			  </ul>
			</div>
		</div>
		<div class="col s12 m6 l4 center">
			<div class="card medium"> <!-- style="position: relative;" -->
				<div class="card-image mur-card-img">
					<img src="http://pngimg.com/uploads/student/student_PNG136.png">
				</div>
				<div class="card-content">
					<p>Lorem ipsum himenaeos rhoncus ultricies cras dictum pulvinar, ut suscipit imperdiet pulvinar nullam vestibulum, eleifend habitant mi commodo aenean vitae. pharetra purus hendrerit sapien leo et fusce non fusce mollis magna, proin commodo sociosqu blandit himenaeos nec ac feugiat vel aptent aenean, tempus ante facilisis quisque curabitur dolor per sit fusce. arcu ipsum ultricies inceptos tempus ligula nulla mattis leo id curabitur c</p>
				</div>
				<div class="post-bottom">
					<div class="small-line"></div>
					<div class="card-content white">
						<div class="col s6 left-align">
							<p>Publicado por: Meu ovo cozido</p>
							<p>Publicado por: Rã frita</p>
						</div>
						<div class="col s6 right-align">
							<p><br></p>
							<p>Data: 01/01/2001</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card comments">
				<ul class="collection">
					<!--for começa aqui-->
			    <li class="collection-item avatar left-align">
			      <img src="/assets/imgs/banner-1.jpeg" alt="" class="circle">
			      <span class="title">Title</span>
			      <p>First Line</p>
			      <a href="#!" class="secondary-content"><i class="fa fa-pencil-square-o blue-text"></i></a>
			    </li>
			    <!--for termina aqui-->
			  </ul>
			</div>
		</div>
	</div>
</section>


<!-- <script type="text/javascript">
	changeHeader('par1');
</script> -->

<style type="text/css">
</style>

<script type="text/javascript">
  $('#footer').fadeIn('slow');
</script>