
<div class="col s12" style="margin-top:20px;">

	<div class="configuracao-image-container center">
		<img id="imagem-publicacao-post" src="<%= data.imagem %>" style="max-height: 300px;">
	</div>

	<div class="button_cropper_imagem" style="margin-top: 10px;">
		<div class="button_control_options center">

			<div class="btn-group blue lighten-1 left">
				<a class="btn-similar zoom-imagem zoom-plus" data-cropper="#imagem-publicacao-post">
					<i class="fas fa-search-plus white-text"></i>
				</a>

				<a class="btn-similar zoom-imagem zoom-minus" data-cropper="#imagem-publicacao-post">
					<i class="fas fa-search-minus white-text"></i>
				</a>

			</div>


			<div class="btn-group blue lighten-1 right">
				<a class="btn-similar rotate-imagem rotate-esquerda blue lighten-1" style="border-radius: 10px;" data-cropper="#imagem-publicacao-post">
					<i class="fas fa-redo white-text"></i>
				</a>
				<a class="btn-similar rotate-imagem rotate-direita blue lighten-1" style="border-radius: 10px;" data-cropper="#imagem-publicacao-post">
					<i class="fas fa-undo white-text"></i>
				</a>
			</div>
		</div>

	</div>
</div>


</div>

