<div>
	<%
	if (typeof data.postagens != 'undefined' && data.postagens.length > 0) {
			%>
				<div class="imagem_zoom" style="width:100%">
					<img class="pinch-zoom" src="/assets/uploads/<%= data.postagens[0].imagem %>" style="width: 100%;">
				</div>


			<%
		} else {
		%>
		<p class="center-align">
			Nenhum resultado foi encontrado.
		</p>
		<%
	}
	%>
</div>