<div class="col s12 pai valign-wrapper">
	<div class="input-field col s10">
		<input type="text" id="faculdade-filtro" class="autocomplete">
		<label for="faculdade-filtro">Faculdade</label>
	</div>
	<div class="col s2 center-align">
		<button class="btn-floating btn-small waves-effect waves-light red remove">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>
</div>



<script src="/assets/js/jquery-ui.js"></script>

<script>

	$( "#faculdade-filtro" ).autocomplete({
		source: function( request, response ){
			$.ajax({
				method:'GET',
				async:true,
				dataType:'json',
				url:'/sistema/postagens/filtro/pesquisar/teste',
				beforeSend: function() {
					console.log(request);		
				},
				success: function(data) {
					console.log(data);
					response(data);
					console.log('---------------- O REQUEST -----------');
					console.log(request);
					console.log('--------------------------------------');

					response($.map(data, function (item) {
						return {
							label: item.nome,
							value: item.id
						};
					}));

				},
				error: function(xhr) {
					console.log(xhr);
				},
				complete: function() {
				}
			});
		}
	});

</script>