<br>
<%
if (typeof data != 'undefined' && data.length > 0) {
	for (var i = data.length - 1; i >= 0; i--) {
%>
	<div class="row">
		<div class="btn col s12 center-align blue darken-1 white-text define-tipo" data-val="<%= data[i].tipo_val %>">
			<%= data[i].nome %>
		</div>
	</div>
<%
	}
} else {
%>
	<p class="center-align">
		Nenhum resultado foi encontrado.
	</p>
<%
}
%>