<div class="col s12 pai valign-wrapper">
	<div class="col s10">
		<div class="simple_filtro_container">
			<select class="browser-default" name="id_filtro" style="margin-top:5px;">
				<option>Selecione</option>
				<option value="1">Faculdade</option>
				<option value="2">UF</option>
				<option value="3">Cidade</option>
			</select>
			<!--     <input type="text" name="lista[contato][]" required="true"> -->
		</div>
	</div>
	<div class="col s2 center-align">
		<button class="btn-floating btn-small waves-effect waves-light red remove">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>
</div>