<div style="    position: fixed;
    width: 100%;
    padding: 20px 0;
        background-color: #fff;
    z-index: 900;
        box-shadow: 0px 2px 10px -3px black; text-align: center;">
	<h5 class="container">
		<%= title %>
	</h5>
</div>
<div style="padding-top: 80px;">	
	<%- include('postagens'); %>
</div>
<%
	if (typeof pesquisa != 'undefined' && pesquisa == 1) {
%>
<script type="text/javascript">
	$('#sair').fadeIn('fast');
</script>
<%
	}
%>